<div class="tw-flex tw-flex-col tw-gap-4 tw-h-full">
    <div class="tw-flex tw-items-center tw-justify-between">
        <h1>Logs</h1>
    </div>


    <div class="tw-flex-1 tw-flex tw-flex-col tw-overflow-hidden">
        <p-table *ngIf="logs"
        class="tw-h-full tw-overflow-scroll"
        [value]="logs.logs"
        [paginator]="true"
        [rows]="rowsPerPage"
        [rowsPerPageOptions]="[10, 20, 50, 100, 500, 1000]"
        [totalRecords]="logs.total"
        [loading]="tableLoading"
        (onSort)="onSort($event)"
        [lazy]="true"
        (onLazyLoad)="onLazyLoad($event)"
        [scrollable]="true"
        scrollHeight="flex"
        [showInitialSortBadge]="true">
        <ng-template pTemplate="caption">
                <div class="tw-flex tw-justify-between">
                    <div class="tw-flex tw-items-center tw-gap-2">
                        <p-button label="Clear" [outlined]="true" icon="pi pi-filter-slash" (onClick)="clearFilter()" />
                        <p-button [text]="true" icon="pi pi-refresh" (onClick)="fetchLogs()" />
    
                    </div>

                    <!-- <p-multiselect display="chip" [options]="logs.logs" [(ngModel)]="selectedColumns" optionLabel="header" selectedItemsLabel="{0} columns selected" [style]="{ 'min-width': '200px' }" placeholder="Choose Columns" /> -->


                    <p-iconField iconPosition="left" class="ml-auto">
                        <p-inputIcon>
                            <i class="pi pi-search"></i>
                        </p-inputIcon>
                        <input pInputText type="text" [(ngModel)]="tableSearchString" (input)="onFilterChange($event)"
                            placeholder="Search keyword" />
                    </p-iconField>
                </div>
            </ng-template>

            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="level">Level <p-sortIcon field="level" /></th>
                    <th pSortableColumn="timestamp">Timestamp UTC <p-sortIcon field="timestamp" /></th>
                    <th pSortableColumn="message">Message <p-sortIcon field="message" /></th>
                    <th>Data</th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-log>
                <tr>
                    <td><p-tag [severity]="getSeverity(log.level)" value="{{ log.level }}" /></td>
                    <td>{{ log.timestamp }}</td>
                    <td>{{ log.message }}</td>
                    <td><Button pButton size="small" (click)="showLogData(log.id)">Show</Button></td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>

<p-dialog header="Log Data" [modal]="true" [(visible)]="showLogDataModal">
    <textarea class="tw-min-w-80 tw-min-h-96" *ngIf="selectedLog" [disabled]="true"
        pInputTextarea>{{ selectedLog.data | json }}</textarea>
</p-dialog>